.caserougeinformation {
    color: #F7EBE8;
    font-size: 45PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding-left: 50px;
}

.position-cadre {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.cadre-information {
    width: 1100px;
    height: 675px;
    background-color: #000000da;
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 38%);
    border: 2px solid white;
    border-radius: 10px;
}

.casenoirinformation {
    color: #F7EBE8;
    font-size: 35PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding-left: 150px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.line-information {
    margin-left: 100px;
    width: 900px;
}

.input-align {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.label1 {
    width: 150px;
    color: #F7EBE8;
    font-size: 25PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-right: -50px;
}

.input1 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.377);
    background-color: rgba(190, 190, 190, 0.397);
    width: 225px;
    height: 40px;
    margin-right: 200px;
    color: #F7EBE8;
    font-size: 20PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.label2 {
    width: 150px;
    color: #F7EBE8;
    font-size: 25PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-left: -50px;
}

.input2 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.377);
    background-color: rgba(190, 190, 190, 0.397);
    width: 225px;
    height: 40px;
    margin-right: 50px;
    color: #F7EBE8;
    font-size: 20PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.input3 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.377);
    background-color: rgba(190, 190, 190, 0.397);
    width: 763px;
    height: 40px;
    margin-right: 70px;
    color: #F7EBE8;
    font-size: 20PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.input4 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.377);
    background-color: rgba(190, 190, 190, 0.397);
    width: 463px;
    height: 40px;
    margin-right: 380px;
    color: #F7EBE8;
    font-size: 20PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.label3 {
    width: 150px;
    color: #F7EBE8;
    font-size: 25PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-left: -30px;
}

.label4 {
    width: 150px;
    color: #F7EBE8;
    font-size: 25PX;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-left: -20px;
}

/* :placeholder-shown {
    display: flex;
    justify-content: center;
} */

.butt-valider-info {
    width: 250px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #E54B4B;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.25s;
    margin-top: 100px;
    margin-left: 1375px;
    margin-bottom: 150px;
}

.butt-valider-info:hover {
    width: 255px;
    height: 40px;
    font-size: 20px;
    border-radius: 21px;
    background-color: #FFA987;
    border: 2px solid black;
}

a {
    color: white;
}

ul {
    color: white;
    display: flex;
    flex-direction: row;
}

.add_panier_msg {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bolder;
}

.case_add_panier {
    background-color: #000000da;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.377);
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.568);
}
